
  <h1 class="header">Actors Committing Violence</h1>

  <div class="grid_4">
    <table width="300px">
      <tr>
        <th>Actors</th>
      </tr>
      <% @actors.each do |actor| %>
        <tr>
          <td><%= link_to actor, actor_path(actor), :class => "country-link" %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="grid_6">
    <iframe id="chart-box" class="frame" width="2800" height="1600" src="/"></iframe>
  </div>

<script>
  $(function(){ 
    $(".country-link").hover(function(e) {
      $("#chart-box").attr("src", "/events/actors/" + $(this).text());
    });

  });
</script>

