<div ng-controller="badminsCtrl">

  <h2>Manage Event Submissions</h2>
    <p>Click on a column name to sort by that column. Click it again to reverse the order.</p>
    <p>Filter by a term:<input ng-model="query"></p>
    <ul class="pagination">
        <div class="grid_5">
          <li class="previous" ng-click="next('prev')"><a href="">&larr; Previous Page</a></li>
        </div>
        <div class="grid_1">
          <li><label class="label label-info">Page: {{ page }}</label></li>
        </div>
        <div class="grid_3"></div>
        <div>
          <li class="next" ng-click="next('next')"><a href="">Next Page &rarr;</a></li>
        </div>
    </ul>
      <table>
        <tr>
          <th><a href="" ng-click="reverseSort('event_date')">Event Date</a></th>
          <th><a href="" ng-click="reverseSort('event_type')">Event Type</a></th>
          <th><a href="" ng-click="reverseSort('actor1')">Actor 1</a></th>
          <th><a href="" ng-click="reverseSort('actor2')">Actor 2</a></th>
          <th><a href="" ng-click="reverseSort('country')">Country</a></th>
          <th><a href="" ng-click="reverseSort('total_fatalities')">Total Fatalities</a></th>
          <th><a href="" ng-click="reverseSort('latitude')">Latitude</a></th>
          <th><a href="" ng-click="reverseSort('longitude')">Longitude</a></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
          <tr ng-repeat="event in events | orderBy:column:aToZ | filter:query">
            <td><a href="/events/{{event.id}}">{{ event.event_date }}</a></td> 
            <td>{{ event.event_type }}</td>
            <td><a href="/events/countries/{{event.actor1}}">{{ event.actor1 }}</a></td>
            <td><a href="/events/countries/{{event.actor2}}">{{ event.actor2 }}</a></td>
            <td><a href="/events/countries/{{event.country}}">{{ event.country }}</a></td>
            <td>{{ event.total_fatalities }}</td>
            <td>{{ event.latitude }}</td>
            <td>{{ event.longitude }}</td>
            <td class="approve-event" ng-click="approve(event)">Approve</td>
            <td class="edit-event"><a href="/events/{{event.id}}/edit">Edit</a></td>
            <td class="delete-event" ng-click="deny(event)">Delete</td>
          </tr>
      </table>

  </div>

