
  <h1 class="header">Countries Where Violence Has Occurred</h1>

  <div class="grid_4">
    <table width="300px">
      <tr>
        <th>Countries</th>
      </tr>
      <% @countries.each do |country| %>
        <tr>
          <td><%= link_to country, country_path(country), :class => "country-link" %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="grid-6">
    <iframe id="chart-box" class="frame" width="2800" height="1600" src="/"></iframe>
  </div>



<script>
  $(function(){ 
    $(".country-link").hover(function(e) {
      $("#chart-box").attr("src", "/events/countries/" + $(this).text());
    });

  });
</script>

