<div class="page">
  <h1 class="header">Countries Where Violence Has Occurred</h1>

  <div class="grid_4">
    <ol>
      <% @countries.each do |country| %>
        <li><%= link_to country, country_path(country), :class => "country-link" %></li>
      <% end %>
    </ol>
  </div>

  <div class="grid-6">
    <iframe id="chart-box" class="frame" width="2800" height="1600" src="/"></iframe>
  </div>

</div>

<script>
  $(function(){ 
    $(".country-link").hover(function(e) {
      $("#chart-box").attr("src", "/events/countries/" + $(this).text());
    });

  });
</script>

