
<div ng-app="app">
  <div ng-controller="eventsCtrl">
    <h1>Armed Conflict Location and Event Data: All</h1>
    <canvas id="myChart" width="800" height="400"></canvas>
    <img src=<%= @map_url %>>
    <input ng-model="query">
    <table>
      <tr>
        <th><a href="" ng-click="reverseSort('id')">ID</a></th>
        <th><a href="" ng-click="reverseSort('event_date')">Event Date</a></th>
        <th><a href="" ng-click="reverseSort('event_type')">Event Type</a></th>
        <th><a href="" ng-click="reverseSort('actor1')">Actor 1</a></th>
        <th><a href="" ng-click="reverseSort('actor2')">Actor 2</a></th>
        <th><a href="" ng-click="reverseSort('country')">Country</a></th>
        <th><a href="" ng-click="reverseSort('source')">Source</a></th>
        <th>Notes</th>
        <th><a href="" ng-click="reverseSort('total_fatalities')">Total Fatalities</a></th>
        <th><a href="" ng-click="reverseSort('latitude')">Latitude</a></th>
        <th><a href="" ng-click="reverseSort('longitude')">Longitude</a></th>
        <th><a href="" ng-click="reverseSort('created_at')">Created At</a></th>
        <th><a href="" ng-click="reverseSort('updated_at')">Updated At</a></th>
        <th></th>
        <th></th>
      </tr>
        <tr ng-repeat="event in events | orderBy:column:aToZ | filter:query">
          <td><a href="/events/{{event.id}}">{{ event.id }}</a></td>
          <td>{{ event.event_date }}</td> 
          <td>{{ event.event_type }}</td>
          <td>{{ event.actor1 }}</td>
          <td>{{ event.actor2 }}</td>
          <td>{{ event.country }}</td>
          <td>{{ event.source }}</td>
          <td>{{ event.notes }}</td>
          <td>{{ event.total_fatalities }}</td>
          <td>{{ event.latitude }}</td>
          <td>{{ event.longitude }}</td>
          <td>{{ event.created_at }}</td>
          <td>{{ event.updated_at }}</td>
          
          <td><!-- {{link_to "Edit", edit_event_path(event.id) }} --></td>
          <td><!-- {{link_to 'Destroy',  event_path(event.id),  method: :delete, data: { confirm: 'Are you sure?' } }} --></td>
        </tr>
    </table>
  </div>
</div>

<script>

var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: <%= @test_array %>
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

var ctx = document.getElementById("myChart").getContext("2d");

var myLineChart = new Chart(ctx).Line(data);
</script>
