
  <div ng-controller="eventsCtrl">   

    <h2>The Data</h2>
      <p>Click on a column name to sort by that column. Click it again to reverse the order.</p>
      <p>Or filter by a term:
      <input ng-model="query"></p>
      <div class="pagination-centered">
        <ul class="pagination">
            <li class="previous" ng-click="next('prev')"><a href="">&larr; Previous Page</a></li>
            <li><label class="label label-info">Page: {{ page }}</label></li>
            <li class="next" ng-click="next('next')"><a href="">Next Page &rarr;</a></li>
        </ul>
      </div>
      <table>
        <tr>
          <th><a href="" ng-click="reverseSort('event_date')">Event Date</a></th>
          <th><a href="" ng-click="reverseSort('event_type')">Event Type</a></th>
          <th><a href="" ng-click="reverseSort('actor1')">Actor 1</a></th>
          <th><a href="" ng-click="reverseSort('actor2')">Actor 2</a></th>
          <th><a href="" ng-click="reverseSort('country')">Country</a></th>
          <th><a href="" ng-click="reverseSort('total_fatalities')">Total Fatalities</a></th>
          <th><a href="" ng-click="reverseSort('latitude')">Latitude</a></th>
          <th><a href="" ng-click="reverseSort('longitude')">Longitude</a></th>
          <th></th>
          <th></th>
        </tr>
          <tr ng-repeat="event in events | orderBy:column:aToZ | filter:query">
            <td><a href="/events/{{event.id}}">{{ event.event_date }}</a></td> 
            <td>{{ event.event_type }}</td>
            <td><a href="/events/countries/{{event.actor1}}">{{ event.actor1 }}</a></td>
            <td><a href="/events/countries/{{event.actor2}}">{{ event.actor2 }}</a></td>
            <td><a href="/events/countries/{{event.country}}">{{ event.country }}</a></td>
            <td>{{ event.total_fatalities }}</td>
            <td>{{ event.latitude }}</td>
            <td>{{ event.longitude }}</td>
            <td><!--{{link_to "Edit", edit_event_path(event.id) }} --></td>
            <td><!-- {{link_to 'Destroy',  event_path(event.id),  method: :delete, data: { confirm: 'Are you sure?' } }} --></td>
          </tr>
      </table>

  </div>

