// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primary-text-color: #F5F5F5;
$primary-font: 'Open Sans', sans-serif;
//UNIVERSAL STYLING (on top so it can sometimes be overridden)
body {
  background-image: image-url("binding_dark.png"); 
}

h1, h2, h3, h4, p, label{
  color: $primary-text-color;
  font-family: $primary-font;
}

.header{
  padding: 10px 0 0 0;
  text-align: center;
  color: $primary-text-color;
  font-family: $primary-font;
}

#page{
  padding: 0 40px 0 40px;
}


//SPECIFIC STYLING

@mixin rounded-box{
  padding: 10px;
  border-radius: 5px;
  background-color: #F5F5F5;
}

.approve-event{
  background-color: #AAEDBA;
}
.edit-event{
  background-color: #F0D57D;
}
.delete-event{
  background-color: #ED8164;
  color: white;
}

.baby-box{
  @include rounded-box;
}

.border-box{
  height: 300px;
  @include rounded-box;
  p, h4 {
    color: black;
    padding: 0 0 5px 0;
  }
}

.circle-chart-box{
  height: 500px;
  padding: 10px;
  text-align: center;
}

.demo-wrapper {
  height: 400px;
  background: rgba(0,0,0,.03);
  // border: 3px solid black;
}

.extendedTimeChart{
  // position: relative;
  // left: -6000px;
}

.heatmap {
  width: 100%;
  height: 100%;
  border: solid 10px #F5F5F5;
  border-radius: 5px;
}


div#heatmapArea {
    width:1060px;
    padding:0;
    height:400px;
    cursor:pointer;
    position:relative;
}

.single-column-chart{
  text-align: center;
}

h2.show{
  text-align: center;
}

iframe.frame {
  position: fixed;  
  zoom: 0.5;
  -ms-zoom: 0.5;
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0px 50px;
  -o-transform: scale(0.5);
  -o-transform-origin: 0px 50px;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}

.sign-in-button{
  background-color: blue;
  color: white;
  padding: 0 0 10px 0;
}
