// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin rounded-box{
  padding: 10px;
  // border: 5px outset #999; 
  border-radius: 5px;
  background-color: #F5F5F5;
}

.border-box{
  height: 300px;
  @include rounded-box;
}

.demo-wrapper {
  height: 400px;
  background: rgba(0,0,0,.03);
  // border: 3px solid black;
}

.heatmap {
  width: 100%;
  height: 100%;
}

div#heatmapArea {
    width:1000px;
    padding:0;
    height:400px;
    cursor:pointer;
    position:relative;
}

.index-header{
  padding: 10px 0 0 0;
  text-align: center;
}

.page{
  padding: 0 40px 0 40px;
  
}



h2.show{
  text-align: center;
  // font-family: 
}
