// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin rounded-box{
  padding: 10px;
  // border: 5px outset #999; 
  border-radius: 5px;
  background-color: #F5F5F5;
}

.border-box{
  height: 300px;
  @include rounded-box;
}

.circle-chart-box{
  height: 500px;
  padding: 10px;
  text-align: center;
}

.demo-wrapper {
  height: 400px;
  background: rgba(0,0,0,.03);
  // border: 3px solid black;
}

.extendedTimeChart{
  // position: relative;
  // left: -6000px;
}

.heatmap {
  width: 100%;
  height: 100%;
}

.header{
  padding: 10px 0 0 0;
  text-align: center;
}

div#heatmapArea {
    width:1060px;
    padding:0;
    height:400px;
    cursor:pointer;
    position:relative;
}

.page{
  padding: 0 40px 0 40px;
}

.single-column-chart{
  text-align: center;
}

h2.show{
  text-align: center;
  // font-family: 
}

iframe.frame {
  position: fixed;  
  zoom: 0.5;
  -ms-zoom: 0.5;
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0px 50px;
  -o-transform: scale(0.5);
  -o-transform-origin: 0px 50px;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}
